
/* Reset de base pour éviter les inconsistences entre navigateurs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
}
.sub-part-navbar{
	background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#11559C 0.8500000000000001px, #e5e5f7 0.8500000000000001px);
    background-size: 17px 17px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top:10px;
}
.sub-part-navbar h1,	
.sub-part-navbar p{
	margin-left: 40px;
	font-weight:bold;
	font-size:30px;
	color: #11559C;
}
.sub-part-navbar-bottom-side{
    background-color: #1E1E1E;
    color: #ffffff;
    height: 40px;
    width: 250px;
    display:flex;
    align-items:center;
 }
 .sub-part-navbar-bottom-side p{
     color: #ffffff;
     font-size:15px;
 }


